@font-face{
    font-family: odontofont;
    src: url(KyloSans-Medium.ttf);
}

html{
    margin: 0;
    width: 100%;
}

body{
    background: rgb(16, 57, 112);
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#navbar {
    background-color: rgba(6, 173, 210, 0.658);
    height: 100%;
    color: rgb(250, 181, 31);
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

#navbar > button{
    display: block;
    position: static;
    float: left;
    margin-top: 1%;
    font-size: 20px;
    background: transparent;
    border: transparent;
    color: rgb(250, 181, 31);
}

header #navbar #sSize{
    display: none;
}

header #navbar > a{
    height: 100%;
    text-decoration: none;
}

header #navbar > a p{ 
    padding-top: 1%;
    padding-bottom: 0.3%; 
    padding-right: 9%;
    font-size: 30px;
    font-weight: bold;
    color: rgb(250, 181, 31);
}

#navbar span button{
    display: block;
    position: static;
    margin-top: -45px;
    float: right;
    font-size: 20px;
    background: transparent;
    border: transparent;
}

#navbar span button a{
    text-decoration: none;
    color: rgb(250, 181, 31);
}

#navbar span button a:hover{
    color: #25d366;
}

.container{
    width: 40%;
    color: white;
}

#formulario{
    margin-top: 10%;
    font-size: 15px;
}

#formulario label{
    float: left;
    color: rgb(255, 174, 0);
}

#formulario input{
    /*font-weight: bold;*/
    border-color:  white;
}

#formulario select .outros{
    color: black;
}

#formulario input, #formulario select{
    background: transparent;
    color: white;
    border-color:  white;
    transition: background-color 0.5s ease-out;
}

#formulario input:hover, #formulario select:hover{
    border-color: black;
    color: black;
    border-width: 2px;
    background: white;
    font-weight: bold;
}

#formulario #inputdia::placeholder, #formulario #inputcelular::placeholder,
#formulario input::placeholder{
    color: white;
}

#formulario #inputdia:hover::placeholder, #formulario #inputcelular:hover::placeholder,
#formulario input:hover::placeholder{
    color: black;
}


#formulario #enviar{
    color: white;
    transition: background-color 0.5s ease-out;
}

#formulario #enviar:hover{
    background: white;
    color: black;
    font-weight: bold;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: rgb(18, 57, 97); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(250, 181, 31);
    display: block;
    transition: 0.3s;
    transition: color 0.5s ease-out;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: rgb(172, 124, 23);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media only screen and (max-width: 320px)  {
    .sidenav {padding-top: 55px;}
    .sidenav a {font-size: 18px;}

    header{height: 50px;}
    header #navbar > a p{padding: 0; margin-top: 4%; float: right; padding-right: 2%; font-size: 20px;} 
    header #navbar > button{float: left; margin-left: -1%; margin-top: 2%; font-size: 17px;}
    header #navbar span button{display: none;}

    #formulario{position:absolute; margin-left: 20%;}
    #formulario .row{width: 200%;}
    #formulario #final {margin-bottom: 20px }
}

  @media only screen and (max-width: 420px) and (min-width: 321px)  {
    .sidenav {padding-top: 55px;}
    .sidenav a {font-size: 18px;}

    header{height: 50px;}
    header #navbar > a p{padding: 0; margin-top: 3%; float: right; padding-right: 2%; font-size: 25px;} 
    header > button{display: block;position: static; float: left; margin-bottom: 50px;}
    header #navbar span button{display: none;}

    #formulario{position:absolute; margin-left: 20%;}
    #formulario .row{width: 200%;}
    #formulario #final {margin-bottom: 20px }
}

  @media only screen and (max-width: 623px) and (min-width: 421px)  {
    .sidenav {padding-top: 55px;}
    .sidenav a {font-size: 18px;}

    header{height: 50px;}
    header #navbar a p{padding: 0; margin: 0; float: right; padding-right: 1%;}
    header #navbar span button{display: block;position: static; float: left; margin-bottom: 50px;}
    #navbar #gSize{visibility: hidden;}

    #formulario #agenda{position:absolute; left:50%; right:50%; margin-left:-50px; margin-right: -50px;}
    #formulario #final {margin-bottom: 20px }
  }

  @media only screen and (max-width: 900px) and (min-width: 624px) {
    .sidenav {padding-top: 55px;}
    .sidenav a {font-size: 18px;}

    header{height: 60px;}
    header #navbar > a p{margin-right: 35px;}
    header #navbar #gSize{display: none;}
    header #navbar #sSize{display: block; position: static; margin-top: -50px;}
    header #navbar #sSize i{font-size: 40px;}

    #formulario {margin: 8% auto;}
    #formulario #final {margin-bottom: 20px }
  }

